<%= form_for(@pair) do |f| %>
  <% if @pair.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pair.errors.count, "error") %> prohibited this pair from being saved:</h2>

      <ul>
      <% @pair.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :round_id %><br />
    <%= f.number_field :round_id %>
  </div>
  <div class="field">
    <%= f.label :first_track_url %><br />
    <%= f.text_field :first_track_url %>
  </div>
  <div class="field">
    <%= f.label :second_track_url %><br />
    <%= f.text_field :second_track_url %>
  </div>
  <div class="field">
    <%= f.label :first_user_name %><br />
    <%= f.text_field :first_user_name %>
  </div>
  <div class="field">
    <%= f.label :second_user_name %><br />
    <%= f.text_field :second_user_name %>
  </div>
  <div class="field">
    <%= f.label :winner_name %><br />
    <%= f.text_field :winner_name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
