<h1>Listing pairs</h1>

<table>
  <tr>
    <th>Round</th>
    <th>First track url</th>
    <th>Second track url</th>
    <th>First user name</th>
    <th>Second user name</th>
    <th>Winner name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pairs.each do |pair| %>
  <tr>
    <td><%= pair.round_id %></td>
    <td><%= pair.first_track_url %></td>
    <td><%= pair.second_track_url %></td>
    <td><%= pair.first_user_name %></td>
    <td><%= pair.second_user_name %></td>
    <td><%= pair.winner_name %></td>
    <td><%= link_to 'Show', pair %></td>
    <td><%= link_to 'Edit', edit_pair_path(pair) %></td>
    <td><%= link_to 'Destroy', pair, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Pair', new_pair_path %>
